@charset "UTF-8" ; 

@media screen and (min-width: 758px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }
    section#login{
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: center center;
    }

    section#login > div#fomrulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }
    section#login {
        width: 900px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
            float: right;
            width: 50%;
    }
    div#formulario > p {
        font-size: 1.3  em;
    }
    div#formulario > h1 {
        font-size: 2em;
    }
}